.content{
    grid-area: content;
    background-color: grey;
}
.post {
padding: 20px;
}
.post__image{
display: inline-block;
}
.post__text{
color: yellow;
}
.newpost {

}
.post__image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
}
.like:hover {
    color: yellow;
}
