.nav{
    grid-area: n;
    background-color: #476464;
    padding: 20px;
}
.item {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.active{
    color: yellow;
    text-decoration: none;
    font-size: 30px;
}
.item:hover{
    color:red;
    border: 1px solid black;
}
.friendBlockText{
    color: white;
    margin: 50px 0 0 0;
    font-size: 30px;
}
.friendBlockImg img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black solid 2px;
}
.friendBlockImg {
    display: inline-block;
    margin: 20px 15px 0 0;
}
.friendBlockTextItem {
    font-size: 15px;
    display: inline-block;
    color: #ffd5d5;
    margin: 0 20px 0 0;
}
.friendBlockList{
    margin-left: 10px;
}