.content{
    grid-area: content;
    background-color: grey;
}
.post {

}
.post__image{

}
.post__text{
color: yellow;
}
.newpost {

}
.post__image img {
    width: 100px;
    border-radius: 50%;
}

