.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}
.dialogsItems .active{
    color: red;
}
.dialog:hover{
    color: yellow;
}

.messages {
    padding: 10px;
}

.message {
    font-style: italic;
}
.item {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.active{
    color:yellow;
}
.messages .message {
    color: white;
}
.dialogsItems a:hover{
    color: yellow;
}
.dialogsItems a:active{
    color: red;
}
.newMessageButton {
    background-color: rgba(104, 47, 253, 0.74);
    height: 50px;
    color: white;
    font-size: 14px;
    border-radius: 30%;
    border: 3px black solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.newMessageButton:hover{
    background-color: red;
}